# NPM 镜像（淘宝镜像）
registry=https://registry.npmmirror.com

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# Electron Builder 二进制镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Sharp 二进制镜像
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/